.feature {
    display: flex;
    align-items: center;
    gap: 90px;
    max-width: 1306px;
}

.feature-reverse {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 90px;
    margin-left: auto;
    max-width: 1306px;
}

@media (max-width: 976px) {
    .feature {
        flex-direction: column;
        gap: 60px;
    }

    .feature-reverse {
        flex-direction: column;
        gap: 60px;
    }
}