.clients {
    margin-left:auto;
    width: 88%;
    box-shadow: 50px 50px 100px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: flex-end;
    margin-top: -113px;
    margin-bottom: -113px;
    z-index: 1;
    background-color: #fff;
    position: relative;
}

.clients__container {
    display: flex;
    padding:  60px 0;
    gap: 66px;
}

@media (max-width: 976px) {
    .clients {
        width: 100%;
    }
    .clients__container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .clients__img {
        max-width: 100px;
    }
}

@media (max-width: 525px) {
    .clients__img {
        max-width: 80px;
    }
}